* {
    box-sizing: border-box;
    box-align: center;
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    align-content: center;
    text-align: center;  
}
a {
    float: right;
}
h1 {
    background-color: teal;
    padding: 31px;
}
.con1 {
    background-image: url(SO_texture_bg.jpg);
  background-repeat:repeat;
}

.pro {
    float: left;
}