* {
    box-sizing: border-box;
    box-align: center;
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    align-content: center;
    text-align: center;  
}
a {
    float: right;
}
h1 {
    background-color: teal;
    color: darkmagenta;
    padding: 5px;
}
.boxed {
    background-image: url(SO_texture_bg.jpg);
  background-repeat:repeat;
}

.boxed2 {
    border: 2px solid teal;
}
.pro {
    float: left;
}

.email {
    color: blueviolet;
    background-color: aqua;
    padding: 40px;
}